/*
 * Mixins
 *
 * Mixins are reusable bits of code. They can accept parameters.
 */

// - container
// Used as a wrapper to bring content into main area
@mixin container {
    margin: 0 auto;
    max-width: 35em;
}

// - inline-block
// Gives us a basic, middle aligned inline block element.
// Great for styling text inline.
@mixin inline-block {
    display: inline-block;
    vertical-align: middle;
}

// - clear
// Clears floats with a pseudo element
@mixin clear {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

// - heart-background($size: Numpx, $color: any valid)
// Creates a repeating heart background
// via http://lea.verou.me/css3patterns/#hearts
@mixin heart-background($size, $heart-color, $background-color) {
    $half-size: $size/2;

    background: 
    radial-gradient(circle closest-side at 60% 43%, $background-color 26%, rgba($background-color,0) 27%),
    radial-gradient(circle closest-side at 40% 43%, $background-color 26%, rgba($background-color,0) 27%),
    radial-gradient(circle closest-side at 40% 22%, $heart-color 45%, rgba($heart-color,0) 46%),
    radial-gradient(circle closest-side at 60% 22%, $heart-color 45%, rgba($heart-color,0) 46%),
    radial-gradient(circle closest-side at 50% 35%, $heart-color 30%, rgba($heart-color,0) 31%),

    radial-gradient(circle closest-side at 60% 43%, $background-color 26%, rgba($background-color,0) 27%) $half-size $half-size,
    radial-gradient(circle closest-side at 40% 43%, $background-color 26%, rgba($background-color,0) 27%) $half-size $half-size,
    radial-gradient(circle closest-side at 40% 22%, $heart-color 45%, rgba($heart-color,0) 46%) $half-size $half-size,
    radial-gradient(circle closest-side at 60% 22%, $heart-color 45%, rgba($heart-color,0) 46%) $half-size $half-size,
    radial-gradient(circle closest-side at 50% 35%, $heart-color 30%, rgba($heart-color,0) 31%) $half-size $half-size;
    background-color: $background-color;
    background-size: $size $size;
}
