/*
 * Style Configuration
 *
 * This is included first so that our variables trickle
 * down to all the imports and styles below.
 */

// - From Normalize
// We can override here, these get applied before Sass compiles
$normalized_font_family: 'Helvetica';

// - Colors
$background: whitesmoke;
$color: #363636; // Used to set font color

$base-color: #d35;
$white: #f6f6f6;

/*
 * Required Imports
 */

@import "normalize"; // Reset CSS, gives us decent typography, etc
@import "shims"; // Augments gaps in HTML5, Normalize, etc
@import "mixins"; // Common functions and reusables

/*
 * Begin Site Styles
 */

//
// Layout
//

.header {
    // includes/mixins first in case we have to override!
    @include heart-background(120px, lighten($base-color, 5%), $base-color);
    height: 48em;

    text-align: center;
    color: $white;
}

.footer {
    padding-top: 2em;
    padding-bottom: 2em;
    background: darkslategrey;
    text-align: center;
    color: $white;

    a {
        color: $white;
    }

    a:hover {
        text-decoration: none;
    }
}

.main {
    @include container;
}

//
// Header
//
.site-title {
    margin-top: 0;
}

//
// Coupon Style
//

.coupon {
    padding: .5em;
    border-top: 1px solid lighten($base-color, 30%);

    &:first-child {
        border-top: none;
    }
}