/*
 * Style Configuration
 *
 * This is included first so that our variables trickle
 * down to all the imports and styles below.
 */
/*
 * Required Imports
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: white;
  color: #363636;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: "Raleway", Helvetica, sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  /* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
  -webkit-box-sizing: border-box;
  /* Firefox (desktop or Android) 28- */
  -moz-box-sizing: border-box;
  /* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, Opera Mini Anything, Blackberry 10+, Android 4+ */
  box-sizing: border-box; }

main {
  display: block; }

.coupon .count:after {
  display: block;
  content: "";
  position: absolute;
  pointer-events: none; }

/*
 * Begin Site Styles
 */
html {
  background: radial-gradient(circle closest-side at 60% 43%, #dd3355 26%, rgba(221, 51, 85, 0) 27%), radial-gradient(circle closest-side at 40% 43%, #dd3355 26%, rgba(221, 51, 85, 0) 27%), radial-gradient(circle closest-side at 40% 22%, #e14967 45%, rgba(225, 73, 103, 0) 46%), radial-gradient(circle closest-side at 60% 22%, #e14967 45%, rgba(225, 73, 103, 0) 46%), radial-gradient(circle closest-side at 50% 35%, #e14967 30%, rgba(225, 73, 103, 0) 31%), radial-gradient(circle closest-side at 60% 43%, #dd3355 26%, rgba(221, 51, 85, 0) 27%) 60px 60px, radial-gradient(circle closest-side at 40% 43%, #dd3355 26%, rgba(221, 51, 85, 0) 27%) 60px 60px, radial-gradient(circle closest-side at 40% 22%, #e14967 45%, rgba(225, 73, 103, 0) 46%) 60px 60px, radial-gradient(circle closest-side at 60% 22%, #e14967 45%, rgba(225, 73, 103, 0) 46%) 60px 60px, radial-gradient(circle closest-side at 50% 35%, #e14967 30%, rgba(225, 73, 103, 0) 31%) 60px 60px;
  background-color: #dd3355;
  background-size: 120px 120px; }

body {
  font-size: 18px;
  line-height: 1.45; }

.container {
  padding: 0 1rem; }

.header {
  text-align: center;
  color: #f6f6f6; }

.footer {
  padding-top: 2rem;
  padding-bottom: 3rem;
  text-align: center;
  color: #f6f6f6; }
  .footer a {
    color: #f6f6f6; }
  .footer a:hover {
    text-decoration: none; }

.main {
  margin: 0 auto;
  width: 35em;
  margin-bottom: 1em; }

.site-title {
  margin-top: 0; }

.coupon {
  margin-bottom: 1rem;
  padding: 1rem 1rem 1rem 4rem;
  box-shadow: 0 0 10px #dd3355;
  background: #f6f6f6;
  border-radius: 1rem;
  border-bottom: 8px solid #bd203f; }
  .coupon .coupon-header {
    margin-left: -6.5rem; }
  .coupon .title,
  .coupon .counter {
    display: inline-block;
    vertical-align: middle; }
  .coupon .title {
    margin: 0;
    font-family: "Kite One", Helvetica Neue, Helvetica, sans-serif;
    font-size: 2em;
    color: #e14967; }
  .coupon p {
    margin-top: 0; }
  .coupon:first-child {
    border-top: none; }

.coupon .count {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin: 0 .5rem 0 0;
  border: 6px solid #f6f6f6;
  background: #a81c38;
  font-size: 2.7rem;
  font-weight: 800;
  text-shadow: 0 0 2px #dd3355;
  color: #f6f6f6;
  line-height: 1.15;
  text-align: center; }
  .coupon .count span {
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
    color: #efa0b0; }
  .coupon .count, .coupon .count:after {
    width: 6rem;
    height: 6rem;
    border-radius: 50%; }

.coupon .count:after {
  z-index: -1;
  top: 2px;
  left: -6px;
  background: #bd203f; }
